<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C2LP.WebService.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <C2LP.WebService.Utility.Properties.Settings>
            <setting name="C2LP_WebService_Utility_SmsWebReference_PhoneCaller"
                serializeAs="String">
                <value>http://192.168.1.43:8091/Services/TelephoneService</value>
            </setting>
        </C2LP.WebService.Utility.Properties.Settings>
    </applicationSettings>
</configuration>