<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="MySql" connectionString="Data Source=127.0.0.1;port=3307;user id=root;password=tbcc;database=coldchain_logistics_db;Character Set=gbk;Connect Timeout=30;"/>
  </connectionStrings>

  <system.serviceModel>

    <bindings>

      <basicHttpBinding>

        <binding  closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"

maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">

        </binding>

      </basicHttpBinding>

    </bindings>
    <client />
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>-->

        <behavior name="myBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <!--<serviceDebug includeExceptionDetailInFaults="true" />-->
          <dataContractSerializer ignoreExtensionDataObject="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <!--<bindings>
      <customBinding>
        <binding name="MyMapper">
          -->
    <!--此处配置相当重要，使用了我们编写的MyMapper类，约定返回值类型是Json-->
    <!--
          <webMessageEncoding webContentTypeMapperType="Eccp.Message.HandleMessage.MyContentTypeMapper, MyContentTypeMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          </webMessageEncoding>
          <httpTransport manualAddressing="true"/>
        </binding>
      </customBinding>
    </bindings>-->

    <services>

      <service name="C2LP.WebService.HandleServer.PDAServer" behaviorConfiguration="myBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding"
           contract="C2LP.WebService.Interface.IPDAInterface" />
        <endpoint address="ws" binding="basicHttpBinding" contract="C2LP.WebService.Interface.IPDAInterface" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.153:8002/PDAServer" />
          </baseAddresses>
        </host>
      </service>


      <service name="C2LP.WebService.HandleServer.ConsoleServer" behaviorConfiguration="myBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding"
           contract="C2LP.WebService.Interface.IConsoleInterface" />
        <endpoint address="ws" binding="basicHttpBinding" contract="C2LP.WebService.Interface.IConsoleInterface" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8003/ConsoleServer" />
          </baseAddresses>
        </host>
      </service>



      <service name="C2LP.WebService.HandleServer.ColdChainServer" behaviorConfiguration="myBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding"
           contract="C2LP.WebService.Interface.IColdChainInterface" />
        <endpoint address="ws" binding="basicHttpBinding" contract="C2LP.WebService.Interface.IColdChainInterface" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.150:153/ColdChainServer" />
          </baseAddresses>
        </host>
      </service>

    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />



  </system.serviceModel>
  <appSettings>
    <add key="PostbackPath" value="\\192.168.0.222\share\eccp_image\coldchain"/>

    <!--上报数据处理参数 处理间隔-->
    <add key="Upload_Space" value="50"/>
    <!--上报数据处理参数 每次处理的数量-->
    <add key="Upload_Count" value="5000"/>
    <!--上报数据处理参数 同时处理数据的线程数量-->
    <add key="Upload_ThreadCount" value="8"/>
    
    <!--配置华东信息-->
    <add  key="Huadong_Id" value="49"/>
    <add  key="Huadong_Name" value="大华东"/>

    <add key="PrjNo" value="30001111"/>
    <add key="PrjKey" value="15B7-50BE-D154-CD7C-C25F-C6CD-413E-96E7"/>
    <add key="SMSAddress" value="www.thermoberg.com:8091"/>
    <add key="SmsSendInterval" value="10"/>
    <!--<add key="SmsTookModel" value="您的运单【运单编号】已经从【发货单位】开始扫描装车，由【车牌号码】运输【惊尘物流】"/>-->
    <add key="SmsTookModel" value="亲：您的运单【运单编号】已经从【发货单位】开始扫描装车，由【车牌号码】运输 请搜索“惊尘冷链”关注微信公众号，来了解冷链的全过程"/>
    <!--<add key="SmsArriveModel" value="您的运单【运单编号】已经运抵【收货单位】现场，【车牌号码】正在进行卸车操作【惊尘物流】"/>-->
    <add key="SmsArriveModel" value="亲：您的运单【运单编号】已经运抵【收货单位】现场，【车牌号码】正在进行卸车操作 搜索“惊尘冷链”关注微信公众号，来了解冷链的全过程"/>
    <!--保留日志天数-->
    <add key="Days" value="3"/>
  </appSettings>
</configuration>
